BasedOnStyle: google
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
ColumnLimit: 140
DerivePointerAlignment: false
IndentCaseLabels: false
IndentWidth: 4
MaxEmptyLinesToKeep: 2
PointerAlignment: Right
SortIncludes: Never
SpaceBeforeParens: Never
